// Custom.scss
// Option B: Include parts of Bootstrap

// /*
// #F3D1DD
// #4A001C
// #702529
// #8A2E33

// #EEEBF8
// #D8D0ED
// #100040
// #362560
// #412D77
// */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #FBF9FA;
$black: #1A1F1C;
$spotify-green: #1DB954;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 3.8rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

h1 {
    color: $black;
}

.genres-list {
    height: 30vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.rounded-10 {
    border-radius: 1rem !important;
}