@import "./assets/style/custom.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "./assets/style/overwrite.scss";
@import "./assets/style/rc-slider-custom.scss";


html {
    height: 100%;
}

.cls-1 {
    fill: #c4c4c4;
    opacity: 0.1;
    isolation: isolate;
}

.cls-2 {
    fill: #1ed760;
}

.logo-container {
    max-width: 78px;
}

.pretty-scroll {
    &::-webkit-scrollbar {
        width: 1em;
        height: 1em;
        background-color: rgba(#6f42c1,.1);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgba(#6f42c1,.3);
        border-radius: 10px;
    
        &:hover {
            background: #6f42c1
        }
    }
}
@media (min-width: 992px) {
    .w-lg-10 {
        max-width: 10%;
    }
    
    .w-lg-90 {
        max-width: 90%;
    }
    
}

.async-select {
    .css-yk16xz-control {
        border-radius: 50rem;
        border-color: hsl(0, 0%, 80%);
        border-style: solid;
        border-width: 1px;
    }

    .css-1pahdxg-control {
        border-radius: 50rem;
        border-color: hsl(0, 0%, 80%);
        border-style: solid;
        border-width: 1px;
    }

    .css-1fhf3k1-control {
        border-radius: 50rem;
        border-color: hsl(0, 0%, 80%);
        border-style: solid;
        border-width: 1px;
    }
}